version: '2'
services:
  plmat_db:
    image: postgres
    volumes:
      - ./db/data:/data
      - ./db/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Abcd1234
      PGDATA: /postgresData
  plmat_api:
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    command: ["./wait-for-it.sh", "plmat_db:5432", "-t", "60", "--","npm run", "start:production"]
    ports:
      - "3051:3050"
    links:
      - plmat_db
    environment:
      NODE_ENV: development

